* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flag {
  width: 900px;
  height: 600px;
  display: flex;
  margin-top: 5vh;

  margin-inline: auto;
  position: relative;
}

.colors {
  width: 300px;
  height: 100%;
}

.color-black {
  background-color: #000;
}

.color-red {
  background-color: #ff0000;

  display: flex;
  justify-content: center;

  position: relative;
}

.color-green {
  background-color: #008000;
}

.emblem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffff00;

  position: absolute;
  top: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.emblem > p {
  text-align: center;
  font-size: 20px;
}
